*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/*nav*/
.Logo{
    width: 50px;
}

#header{
    background-image: linear-gradient(rgba(78, 148, 167, 0.824),rgba(69, 137, 148, 0.676)),url(../images/mountains.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}
/*hero section*/
#hero{
    padding: 50px;
    padding-top: 100px;
    margin-bottom: 100px;
}

/*Authors*/

#Authors{
    display: flex;
    justify-content: center;
}

@media (max-width: 991px) {
    #Authors {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: fit-content;
    }
}

/* @media (width: 991px ) and (width: 305px){
    #Authors {
        display: grid;
        justify-content: center;  
        width: 100%; 
        height: fit-content;
    }
} */